models/
sym_shape_infer_temp.onnx
*.onnx
*.pt

.venv/
venv/
env/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

.cache/
.env
service-account*.json
gcp-key*.json

.DS_Store
*.log
sym_shape_infer_temp*
*.onnx_data
slurm-*.out
